/**************************************************
Fonts
Droid Serif
Droid Sans
Droid Sans Mono

Font Scaling
6.854rem
4.236rem
2.618rem
1.618rem
1.0rem
0.618rem

Colour scheme

**************************************************/
@import 'https://fonts.googleapis.com/css?family=Droid+Sans|Droid+Sans+Mono|Droid+Serif';

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 16px;
    line-height: 1.6;
    font-family: 'Droid Sans', 'more font stack stuff', sans-serif;
}
/*************************** 
DEFAULTS - MOBILE FIRST 
***************************/
h1{
    font: bold 4.236rem 'Droid Serif', 'more font stack stuff', serif;
}
h2{
    font: bold 2.618rem 'Droid Serif', 'more font stack stuff', serif;
}
li, p, a{
    font: bold 1.618rem 'Droid Sans', 'more font stack stuff', sans-serif;
}
pre, code, kbd{
    font: normal 1.0rem 'Droid Sans Mono', 'more font stack stuff', 
}
/***************************
    LAYOUT - MOBILE FIRST
***************************/
.wrapper{
    width: 95%;
    margin: 0 auto;
}
header{
    width: 100%;
}
nav{
    width: 100%;
}
nav>ul{
    width: 100%;
}
nav li{
    width: 100%;
    list-style: none;
}
nav a,
nav a:link,
nav a:visited{
    display: block;
    font: bold 1.618rem 'Droid Sans', 'more font stack stuff', sans-serif;
    text-align: center;
}
nav a:active,
nav a:focus,
nav a:hover{
    
}
main{
    width: 100%;
}
.col{
    float: none;
    width: 100%;
}
.col img{
    width: 100%;
    height: auto;
    max-width: 100%;
    background-color: azure;
}
footer{
    width: 100%;
}

@media screen and (min-width:600px){
    
}
@media screen and (min-width: 800px){
    
}
@media screen and (min-width: 1200px){
    
}
